
/* Style Index * /

#0 Produk


/* #0 Produk */

@media (max-width: 900px){
	.header .header-addons a {
		color: black !important; 
	}
}

.header-logo{
	padding-top:8px;
}

.content {
	/* background: url('../../../asset/pattern/pattern5.png')!important; */
	background: transparent !important; 
}

.popup_content {
    padding: 0 !important;
    text-align: left;
}

.modal-body {
    padding: 20px 20px !important;
}

.popup-text p {
    margin-bottom: 0 !important;
}

.popup_img {
    text-align: center;
}

.resellerr {
    min-height: 140px !important; 
}

.produk{
	min-height: 300px !important;
}

.produk-title{
	min-height:41px !important;
	font-size: 14px !important;
	margin-top: 10px;
}

.navbar__link-separator {
    border-right: 1px solid hsla(0,0%,100%,.4);
    height: .8125rem;
}

.btn-custom {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.btn-outline-green {
  border-color: #f08519;
  background-color: #fff;
  color: #f08519;
}

.btn-outline-template {
  border-color: #f08519;
  background-color: #fff;
  color: #f08519;
}

.btn-outline-template:hover  {
  border-color: #f09131;
  background-color: #f5f5f1;
  color: #f09131;
}

.btn-template {
    color: #fff;
    background-color: #f08519 !important;
    border-color: #f08519 !important;
}

.btn-template:hover {
    color: #fff;
    background-color: #f09131 !important;
    border-color: #f08519 !important;
}

.btn-noborder{
	font-weight:600 !important;
	cursor : pointer;
}

.btn-noborder:hover{
	color:#f08519 !important;
	text-decoration: none !important;
}


.footer {
	background: rgba(240, 239, 239, 0.6) !important;
}

.content .wrapper {
    background: #fff;
	background: rgba(255, 255, 255, 0.7) !important;
}

.sp-lightbox {
	z-index : 1000 !important;
}