ul.timelinee {
	list-style-type: none;
	position: relative;
	padding-inline-start: 40px !important;
}
ul.timelinee:before {
	content: ' ';
	background: #c3c4c6;
	display: inline-block;
	position: absolute;
	left: 29px;
	width: 2px;
	height: 100%;
	z-index: 400;
}
ul.timelinee > li {
	margin: 20px 0;
	padding-left: 20px;
}
ul.timelinee > li:before {
	content: ' ';
	background: #f08519;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	border: 3px solid #f08519;
	left: 22px;
	width: 10px;
	height: 10px;
	z-index: 400;
}

.popup_content {
    padding: 0 !important;
    text-align: left;
}

.modal-body {
    padding: 20px 20px !important;
}

.popup-text p {
    margin-bottom: 0 !important;
}

.popup_img {
    text-align: center;
}

.heading_modal h1, .heading_modal h2, .heading_modal h3, .heading_modal h4, .heading_modal h5, .heading_modal h6 {
    font-weight: 400 !important;
	font-size: 22px;
}
	
.comment_block {
    padding-left: 100px;
}

}

